/* Base styles */
@font-face {
  font-family: DINPro-300;
  src: url(../fonts/DINPro-CondensedLight.ttf);
}

@font-face {
  font-family: DINPro-400;
  src: url(../fonts/DINPro-CondensedRegular.ttf);
}

@font-face {
  font-family: DINPro-500;
  src: url(../fonts/DINPro-CondensedMedium.ttf);
}

@font-face {
  font-family: DINPro-700;
  src: url(../fonts/DINPro-CondensedBold.ttf);
}

::-webkit-scrollbar {
  width: 8px;
  height: 167px;
}

::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background: #e0e0e0;
}

:root {
  /* COLORS */
  --deep-black: #111111;
  --transparent: rgba(0, 0, 0, 0);
  --red: rgb(165, 42, 42);
  --yellow: #eac645;
  --white: #ffffff;
  --backdrop-color: #11111166;
  --backdrop-color-sl: #f6f6f6;
  --purple-gradient: radial-gradient(
    183.6% 183.01% at 59.76% -23.42%,
    brown 18.03%,
    #ffffff 100%
  );
  --switch-circle-pos: 2px;
  --theme-switcher-gradient: linear-gradient(brown, #fff);
  --text-categories: #11111199;

  /* ANIMATIONS */
  --function-duration: 650ms;
  --function-timing: cubic-bezier(0.4, 0, 0.2, 1);
}

/* body[data-theme="light"] {
  --deep-black: #111111;
  --soft-black: #202024;
  --red: brown;
  --yellow: #eac645;
  --white: #ffffff;
  --backdrop-color: #11111166;
  --backdrop-color-sl: #f6f6f6;
  --bookcard-backdrop-color: #ffffff;
  --shopping-list-text-color: #00000099;
  --purple-gradient: radial-gradient(
    183.6% 183.01% at 59.76% -23.42%,
    #4f2ee8 18.03%,
    #ffffff 100%
  );
  --switch-circle-pos: 2px;
  --theme-switcher-gradient: linear-gradient(brown, #fff);
  --categories-text: rgba(17, 17, 17, 0.6);
  --book-card-filter: brightness(0) invert(0);
  --modal-icon-color: grayscale(1);
}

body[data-theme="dark"] {
  --deep-black: #ffffff;
  --soft-black: #202024;
  --red: #eac645;
  --yellow: brown;
  --white: #202024;
  --backdrop-color: #11111166;
  --backdrop-color-sl: #202024;
  --bookcard-backdrop-color: #111111;
  --shopping-list-text-color: #ffffff99;
  --purple-gradient: radial-gradient(
    183.6% 183.01% at 59.76% -23.42%,
    #4f2ee8 18.03%,
    #ffffff 100%
  );
  --switch-circle-pos: 17px;
  --theme-switcher-gradient: linear-gradient(180deg, brown, #686868 100%);
  --categories-text: rgba(255, 255, 255, 0.6);
  --book-card-filter: brightness(0) invert(1);
  --modal-icon-color: brightness(0) invert(1) grayscale(1) brightness(1)
    contrast(100%);
} */
